<h1><%= action_name.capitalize %> пам’ятку</h1>

<%= form_with(model: @monument, local: true) do |form| %>
  <% if @monument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monument.errors.count, "помилка") %> заважає зберегти пам’ятку:</h2>

      <ul>
        <% @monument.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Назад', monuments_path, class: 'btn btn-secondary' %>
